@charset "UTF-8";

/*-- common --*/
@use "_common" as common;

.h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
}
.h3 span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}
