@charset "UTF-8";

/*-- summary --*/
@use "_common" as common;

#summary {
  background: url("../img/bg.gif") repeat;
  animation: fall 10s infinite linear;
  padding: 60px 0;
  margin-bottom: 120px;
}
/*
アニメーション処理

10秒かけて背景画像の位置「background-position」を移動させる動作を繰り返す
*/
@keyframes fall {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

#summary {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu li {
    width: 48%;
    background-color: #fff;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 32px;
  }
  .menu li:nth-child(n + 3) {
    margin-bottom: 0;
  }
  .menu-title {
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  .menu-title .ja {
    display: block;
    font-size: 1.75rem;
    margin-bottom: 15px;
  }
  .menu-title .en {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
}
