@charset "UTF-8";

/*-- voice --*/
@use "_common" as common;

#voice {
  margin-bottom: 120px;

  .item-left,
  .item-right {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    opacity: 0;
  }
  .item-left {
    justify-content: flex-start;
  }
  .item-left:last-of-type {
    margin-bottom: 0;
  }
  .item-right {
    justify-content: flex-end;
  }
  .student img {
    width: 120px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .student .name {
    font-size: 0.75rem;
    text-align: center;
  }

  .item-left .balloon-text,
  .item-right .balloon-text {
    width: 60%;
    display: flex;
    justify-content: center;
    background: #e9f1fb;
    border-radius: 15px;
    padding: 20px;
    position: relative;
  }
  .item-left .balloon-text {
    margin-left: 25px;
    ::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 0;
      margin-left: -30px;
      border: 15px solid transparent;
      border-right: 15px solid #e9f1fb;
    }
  }
  .item-right .balloon-text {
    margin-right: 25px;
    ::before {
      content: "";
      position: absolute;
      top: 60%;
      right: 0;
      margin-right: -30px;
      border: 15px solid transparent;
      border-left: 15px solid #e9f1fb;
    }
  }
  .balloon {
    animation: balloon 0.5s ease-out 0s 1 forwards;
  }
}

@keyframes balloon {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
